<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConnectedPackagingContract</key>
	<string>NFC_CONTRACT_TYPE</string>
	<key>EVMBASEURL</key>
	<string>INSERT_EVMBASEURL</string>
	<key>ACCOUNTBASEURL</key>
	<string>INSERT_ACCOUNTBASEURL</string>
	<key>CLIENTSECRET</key>
	<string>INSERT_CLIENTSECRET</string>
	<key>CLIENTID</key>
	<string>INSERT_CLIENTID</string>
	<key>RPCURL</key>
	<string>INSERT_RPCURL</string>
	<key>NFTCONTRACTADDRESSC</key>
	<string>INSERT_NFTCONTRACTADDRESSC</string>
	<key>STOREDVALUECONTRACTADDRESSC</key>
	<string>INSERT_STOREDVALUECONTRACTADDRESSC</string>
	<key>CONNECTEDCONTRACTADDRESSC</key>
	<string>INSERT_CONNECTEDCONTRACTADDRESSC</string>
	<key>KRYPTKEY</key>
	<string>INSERT_KRYPTKEY</string>
	<key>CHAINID</key>
	<string>INSERT_CHAINID</string>
	<key>PASSCODEBASEURL</key>
	<string>INSERT_BASEURL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Read Data</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera to allow you to select photos for scanning QR Code. Your photos will not be used for any other purpose without your explicit permission.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to allow you to select photos for scanning QR Code from your files. Your photos will not be used for any other purpose without your explicit permission.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>12FC</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>
		<string>TAG</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D2760000850101</string>
	</array>
</dict>
</plist>
